[submodule "Alice/extern/spdlog"]
	path = Alice/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Alice/extern/GLFW"]
	path = Alice/extern/GLFW
	url = https://github.com/TeaCoo/glfw.git
[submodule "Alice/extern/imgui"]
	path = Alice/extern/imgui
	url = https://github.com/TeaCoo/imgui.git
